.panel-btn{
    background-color: transparent;
    color: #fff;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 20px !important; 
}

.panel-btn:active, .panel-btn:hover, .panel-btn:focus{
    color: #fff;
}

.active-panel-btn{
    background-color: white;
    color: #111;
}

.active-panel-btn:active, .active-panel-btn:hover, .active-panel-btn:focus{
    color: black;
}

.sortBy-select{
    border-radius: 20px !important;
    max-width: 150px;
}

.sortBy-select option{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

